<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Product</h1>
<div>
    <a href="/product/showList">Back to the list</a>
</div>
</div>
<div>
    <form action="/product/edit" method="post" th:object="${product}">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name of the product</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Price of the product</label>
            <input type="text" th:field="*{price}">
        </div>
        <div>
            <label>Describe</label>
            <input type="text" th:field="*{describe}">
        </div>
        <div>
            <label>Producer</label>
            <input type="text" th:field="*{producer}">
        </div>
        <input type="submit" value="Edit">
    </form>
</div>
</body>
</html>